auto-save-list/
elpa/
eshell/history
games/
transient/
bookmarks
tags
README.el
/.lsp-session-v1
/projectile-bookmarks.eld
/.cache/
/lsp-cache/
/secrets.el
.org-generic-id-locations
.org-id-locations
org-gcal
org-raom.db
persist
request
site-lisp
url
org-roam.db